*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #000;
  background-color: #FFF3C7;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1 0 auto;
}
